<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet"> 
  </head>
  <body>
    <header>
      <nav>
        <h1>Caitlin MacKays Favorite Things!</h1>
        <a href="/">
          <i class="fas fa-home"></i>
        </a>
      </nav>
    </header>    
    <main>
      {{{body}}}
    </main>
    <img class="marvel-logo" src="/images/logo.png" alt="logo">
    <footer>
      <p>All of my favorite things!</p>
    </footer>
  </body>
</html>
